.contents_wrap{
  display: flex;
}
.content{
  display: grid;
}

.content {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contents_wrap .main_content{
  width:65%;
  margin: 40px 30px 30px 30px;
}
.day{
  opacity: .5;
  font-size: 12px;
}
.img_wrapper{
  display: flex;
  align-items: center;
}
.img{
  width:160px;
  height: 90px;
}
.motto{
  text-align: center;
}
.main_content .h1{
   border-left: 5px solid #000!important;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 1.8rem;
}

@media screen and (max-width:700px) {
  .content{
    display: block;
  }
  .contents_wrap .main_content{
    width: auto;
  }
  .li{
    width: 100%;
  }
  .img{
    width:120px;
    height: 67.5px;
  }
}
/* ブロック */
.link{
  padding: 15px;
  width: 100%;
  display: flex;
  gap: 20px;
}
.blog_img {
  width: 160px;
  height: 90px;
  min-width: 160px;
  background-size: cover;
  background-position: center;
  margin-bottom: 0.5rem;
  border: 1px solid #ddd;
  margin: 5px;
}
.blog_ul{
display: flex;
flex-wrap: wrap;
}
.blog_list{
  border: 1px solid #ddd;
  list-style-type:none ;
  margin: 5px;
  max-width: 400px;
  width: 100%;
}
.blog_title{
  margin: 5px;
}
.pagination{
  padding-top: 40px;
  text-align: center;
}
.next,.prev{
  cursor: pointer;
  background-color: unset;
  font-size: 20px;
  font-weight: bold;
  color: #4b4b4b;
  border: none;
  margin: 0 0.5rem;
}
.otherpage{
  cursor: pointer;
  background-color: unset;
  font-size: 20px;
  font-weight: bold;
  color: #4b4b4b;
  border: none;
  width: 1rem;
  margin: 0 0.5rem;
}
.active{
  background-color: unset;
  font-size: 20px;
  font-weight: bold;
  color: #4b4b4b;
  border: none;
  width: 1rem;
  margin: 0 0.5rem;
  border-bottom: 2px solid #4b4b4b;
}
/* サイド  */
.contents_wrap .side_content{
  width:35%;
  margin: 40px 30px 30px 30px;
}
.contents_wrap .side_content .link{
  display: flex;
}
.contents_wrap .side_content .li{
  display: flex;
  margin: 5px;
  background-color: #fff;
  box-shadow:0px 1px 3px rgba(0,0,0,.18);
}
.contents_wrap .side_content .blog_img{
  background-color: #808080;
  min-width: 120px;
  height: 80px;
  background-size: cover;
  background-position: center;
  margin-bottom: 0.5rem;
}
.contents_wrap .side_content .blog_title{
  width: 75%;
  margin: 10px;
}