#blog {

  .category_ul {
    display: flex;
    justify-content: flex-end;

    .category_list {
      width: fit-content;
      list-style-type: none;
      border: 1px solid;
      padding: 1px 8px;
      border-radius: 15px;
      margin: 2px;
    }
  }

  .blog_area {
    * {
      margin: 0;
      padding: 0;
      line-height: 1.5;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 18px;
      border-bottom: 1px solid;
      padding-left: 0.5rem;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    h4 {
      font-size: 16px;
    }

    p {
      font-size: 16px;
    }

    ul {
      margin-left: 1rem;

      li {
        margin-left: 1rem;
      }
    }
    pre[class*="language-"] {
      padding: 1em;
      margin: .5em 0;
      overflow: auto;
      border: none;
      border-radius: .5em;
      box-shadow: 1px 1px .5em black inset;
  }
    table {
      margin-top: 15px;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      table-layout: fixed;

      tr {
        th {
          background-color: #f0f0f0;
          font-weight: bold;
          text-align: left;
          padding: 5px;
          border-bottom: 1px solid #fff;

          &:nth-child(n+2) {
            border-left: 1px solid #fff;
          }

          p {
            font-size: 12px;
          }
        }
        td {
          vertical-align: unset;
          padding: 5px;
          border-bottom: 1px solid #ddd;

          p {
            font-size: 14px;
          }

          &:nth-child(n+2) {
            border-left: 1px solid #ddd;
          }
        }
        ul {
          list-style-type: disc;
          padding-left: 20px;
          margin: 0;
        }
        li {
          font-size: 14px;
        }
        code {
          font-family: monospace;
          background-color: #f5f5f5;
          padding: 2px 4px;
          border-radius: 3px;
        }
      }

    }

  }
}

/* SP */
@media screen and (max-width:767px) {

  #blog {

    .category_ul {
      display: flex;
      justify-content: flex-end;
  
      .category_list {
        width: fit-content;
        list-style-type: none;
        border: 1px solid;
        padding: 1px 8px;
        border-radius: 15px;
        margin: 2px;
      }
    }
    .contents_wrap{
      .content{
        display: block;
      }
      width: auto;
      .main_content{
        .blog_area {
          * {
            margin: 0;
            padding: 0;
            line-height: 1.5;
          }
      
          h2 {
            font-size: 20px;
          }
      
          h3 {
            font-size: 18px;
            border-bottom: 1px solid;
            padding-left: 0.5rem;
            margin-top: 15px;
            margin-bottom: 15px;
          }
      
          h4 {
            font-size: 16px;
          }
      
          p {
            font-size: 16px;
          }
      
          ul {
            margin-left: 1rem;
      
            li {
              margin-left: 1rem;
            }
          }
          pre[class*="language-"] {
            padding: 1em;
            margin: .5em 0;
            overflow: auto;
            border: none;
            border-radius: .5em;
            box-shadow: 1px 1px .5em black inset;
        }
          table {
            margin-top: 15px;
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            table-layout: fixed;
      
            tr {
              th {
                background-color: #f0f0f0;
                font-weight: bold;
                text-align: left;
                padding: 5px;
                border-bottom: 1px solid #fff;
      
                &:nth-child(n+2) {
                  border-left: 1px solid #fff;
                }
      
                p {
                  font-size: 12px;
                }
              }
              td {
                vertical-align: unset;
                padding: 5px;
                border-bottom: 1px solid #ddd;
      
                p {
                  font-size: 14px;
                }
      
                &:nth-child(n+2) {
                  border-left: 1px solid #ddd;
                }
              }
              ul {
                list-style-type: disc;
                padding-left: 20px;
                margin: 0;
              }
              li {
                font-size: 14px;
              }
              code {
                font-family: monospace;
                background-color: #f5f5f5;
                padding: 2px 4px;
                border-radius: 3px;
              }
            }
      
          }
      
        }
      }
    }

  }
}