@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
:root {
  --bg-color: #f0f4f9;
  --content-bg-color:#ffffff;
  --color: #4b4b4b;
  --background-navbar: #000;
}

/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.right{ text-align: right; }
.flex-right{ display: flex; }
.left{ text-align: left; }
.flex-right{ display: flex; }
.center{ text-align: center; }
.flex-right{ display: flex; }
a {
  color: var(--color);
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  word-break: break-all;
}
/* Global styles */
.all_wrap {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color);
  background-color: var(--bg-color);
}

/* Header styles */
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--content-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Main content styles */
.contents_wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin: 2rem auto;
  max-width: 1024px;
  .main_content {
    flex: 4;
    margin-right: 1rem;
  }
  .side_content {
    flex: 1;
  }
}





.content {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--content-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Blog list styles */
.blog_title {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.blog_img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin-bottom: 0.5rem;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.li {
  margin-bottom: 0.5rem;
}



/* Responsive styles */
@media only screen and (max-width: 768px) {
  .contents_wrap {
    flex-direction: column;
    align-items: center;
  }

  .main_content {
    margin-right: 0;
    width: 100%;
  }

  .side_content {
    margin-top: 2rem;
    width: 100%;
  }
}

  .header {
    background: var(--background-navbar);
    position: fixed;
    width: 100%;
    height: 52px;
    z-index: 3;
  }
  
  /* Nav items */
  .menu {
    list-style: none;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    margin-top: 52px;
    padding: 0 0 10px 0;
    clear: both;
    background: var(--background-navbar);
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    transform: scale(1, 0);
    transform-origin: top;
  }
  
  /* Hamburger menu button */
  .menu-btn:checked ~ .menu {
    transform: scale(1, 1);
    transform-origin: top;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  /* Hamburger menbu text */
  .menu a {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
  }
  
  .menu li {
    border-top: 1px solid rgb(75, 75, 75);
    padding: 10px 0;
    margin: 0 54px;
    opacity: 0;
    transition: 0.5s;
  }
  
  .menu-btn:checked ~ .menu a,
  .menu-btn:checked ~ .menu li {
    opacity: 1;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
  }
  
  .menu-btn {
    display: none;
  }
  
  .menu-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 24px 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 4;
  }
  
  .navicon {
    background: #fff;
    display: block;
    height: 3px;
    width: 26px;
    position: relative;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  .navicon:before,
  .navicon:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #fff;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  .navicon:before {
    top: 9px;
  }
  
  .navicon:after {
    bottom: 9px;
  }
  
  /* Hamburger Menu Animation Start */
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
    top: 0;
  }
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    bottom: 0;
  }
  
  .menu-btn:checked ~ .menu-icon .navicon {
    background: rgba(0, 0, 0, 0);
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }

  /* Hamburger Menu Animation End */
  
  /* Navbar Container */
  .navtext-container {
    width: 100%;
    height: 52px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  /* Global styles */
  .all_wrap {
    font-family: "Noto Sans JP", serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f0f4f9;
  }
  
  /* Header styles */
  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  


  
  .content {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: grid;
  }
  
  /* Blog list styles */
  .blog_title {
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .blog_img {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 0.5rem;
  }
  
  .ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 100vw;
  }
  .blog_wrapper{
    width: 100%;
    overflow-x: hidden;
  }
  
  .li {
    margin-bottom: 0.5rem;
  }
  
  .a {
    color: #333;
    font-weight: bold;
    display: inline-block;
  }
  
  .a:hover {
    color: #0077cc;
  }
  /* Footer styles */
  .Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive styles */
  @media only screen and (max-width: 768px) {
    .contents_wrap {
      flex-direction: column;
      align-items: center;
    }
  
    .main_content {
      margin-right: 0;
      width: 100%;
    }
  
    .side_content {
      margin-top: 2rem;
      width: 100%;
    }
  }
  
    .header {
      background: var(--background-navbar);
      position: fixed;
      width: 100%;
      height: 52px;
    }
    
    /* Nav items */
    .menu {
      list-style: none;
      position: absolute;
      width: 100%;
      height: auto;
      top: 0;
      margin-top: 52px;
      padding: 0 0 10px 0;
      clear: both;
      background: var(--background-navbar);
      transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
      transform: scale(1, 0);
      transform-origin: top;
    }
    
    /* Hamburger menu button */
    .menu-btn:checked ~ .menu {
      transform: scale(1, 1);
      transform-origin: top;
      transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }
    
    /* Hamburger menbu text */
    .menu a {
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 16px;
      text-transform: capitalize;
      color: #fff;
      opacity: 0;
      transition: 0.5s;
    }
    
    .menu li {
      border-top: 1px solid rgb(75, 75, 75);
      padding: 10px 0;
      margin: 0 54px;
      opacity: 0;
      transition: 0.5s;
    }
    
    .menu-btn:checked ~ .menu a,
    .menu-btn:checked ~ .menu li {
      opacity: 1;
      transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
    }
    
    .menu-btn {
      display: none;
    }
    
    .menu-icon {
      display: inline-block;
      position: relative;
      cursor: pointer;
      padding: 24px 14px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    
    .navicon {
      background: #fff;
      display: block;
      height: 3px;
      width: 26px;
      position: relative;
      transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }
    
    .navicon:before,
    .navicon:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      background: #fff;
      transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }
    
    .navicon:before {
      top: 9px;
    }
    
    .navicon:after {
      bottom: 9px;
    }
    
    /* Hamburger Menu Animation Start */
    .menu-btn:checked ~ .menu-icon .navicon:before {
      transform: rotate(-45deg);
    }
    
    .menu-btn:checked ~ .menu-icon .navicon:after {
      transform: rotate(45deg);
    }
    
    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
      top: 0;
    }
    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
      bottom: 0;
    }
    
    .menu-btn:checked ~ .menu-icon .navicon {
      background: rgba(0, 0, 0, 0);
      transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }
  
    /* Hamburger Menu Animation End */
    
    /* Navbar Container */
    .navtext-container {
      width: 100%;
      height: 52px;
      position: absolute;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    /* Navbar Text */
    .navtext {
      position: absolute;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 4px;
      font-size: 20px;
    }
    .space{
      padding-top: 52px;
    }
  
    .category_ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      justify-content: flex-end;
    }
    .category_list{
      list-style-type:none ;
      width: fit-content;
      border: 1px solid;
      padding: 1px 8px;
      border-radius: 15px;
      margin: 2px;
      float: left;
    }
    
    .code{
      background-color: #000;
      color: #fff;
    }
  /* メイン */
  .contents_wrap .main_content{
    padding: 40px 30px 30px 30px;
    /* background-color: var(--color); */
  }
  
  .motto{
    text-align: center;
  }
  .main_content h1{
     border-left: 5px solid #4b4b4b!important;
      padding-left: 15px;
      margin-bottom: 15px;
      font-size: 1.8rem;
  }
  .main_content p{
    padding-bottom: 30px;
  }
  .simplebox1 {

      padding-top: 20px;
      padding-bottom: 0;
      box-sizing: border-box;
      width: 90%;
      margin: 0 auto 40px auto;
  }
  .simplebox1 p{
    padding-bottom: 10px;
  }
  .h3{
    border-bottom: 2px dotted;
    margin-bottom: 5px;
  }
  .check{
    height: 16px;
    width: 16px;
    background-image: url("../public/checkbox.svg");
    display: inline-block;
  }
  @media screen and (max-width:767px) {
    .contents_wrap .main_content{
      width: 95%;
      margin: 0 auto;
      padding: 0;
    }
    .contents_wrap{
      display: block;
    }
    .main_content h1{
      font-size: 1.2rem;
    }
  }
  /* お知らせ */
  .news_li{
    margin-bottom: 0.5rem;
    display: flex;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0;
  }
  .news_time{
    width: 100px;
  }
  .news_p{
    border: 1px solid #4b4b4b;
    height: 100px;
    padding: 10px 15px;
    padding-bottom: 0;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto 40px auto;
    overflow: auto;
  }
  @media screen and (max-width:767px) {
    .news_p{
      padding: 5px 5px;
    }
  }
  
  
  /* サイド  */
  .contents_wrap .side_content{
    margin: 40px 30px 30px 30px;
  }
  .contents_wrap .side_content .link{
    width: 100%;
    display: flex;
  }
  .contents_wrap .side_content .li{
    display: flex;
    margin: 5px;
    background-color: #fff;
    box-shadow:0px 1px 3px rgba(0,0,0,.18);
  }
  .side_content .h1{
    font-size: 1.6rem
  }
  .contents_wrap .side_content .blog_img{
    background-color: #808080;
    width: 120px;
    min-width: 120px;
    height: 80px;
    background-size: cover;
    background-position: center;
    margin:5px;
    border:1px solid #dddddd;
  }
  .contents_wrap .side_content .blog_title{
    /* width: 75%; */
    box-sizing: content-box;
    margin: 5px;
  }
  @media screen and (max-width:767px) {
    .contents_wrap .side_content{
      width: 95%;
      margin: 0 auto;
    }
    .side_content .h1{
      font-size: 1.2rem;
    }
  }