/* メイン */
.contents_wrap{
  display: flex;
}
.content{
  display: grid;
}

.content {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contents_wrap .main_content{
  width:65%;
  margin: 40px 30px 30px 30px;
}

.motto{
  text-align: center;
}
.main_content .h1{
   border-left: 5px solid #000!important;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 1.8rem;
}
.main_content .p{
  padding-bottom: 30px;
}
.simplebox1 {
    border:3px dotted #000!important;
    padding: 20px 25px;
    padding-bottom: 0;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto 40px auto;
}
.simplebox1 p{
  padding-bottom: 10px;
}
.h3{
  border-bottom: 2px dotted;
  margin-bottom: 5px;
}
.check{
  height: 16px;
  width: 16px;
  background-image: url("../public/checkbox.svg");
  display: inline-block;
}
@media screen and (max-width:767px) {
  .contents_wrap .main_content{
    width: 95%;
    margin: 0 auto;
  }
  .li{
    width: 100%;
  }
  .contents_wrap{
    display: block;
  }
  .main_content .h1{
    font-size: 1.2rem;
  }
}
/* お知らせ */
.news_li{
  display: flex;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 0;
}
.news_time{
  width: 100px;
}
.news_p{
  border: 1px solid #000;
  height: 100px;
  padding: 10px 15px;
  padding-bottom: 0;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto 40px auto;
  overflow: auto;
}
@media screen and (max-width:767px) {
  .news_p{
    padding: 5px 5px;
  }
}


/* サイド  */
.contents_wrap .side_content{
  width:35%;
  margin: 40px 30px 30px 30px;
}
.contents_wrap .side_content .link{
  display: flex;
}
.contents_wrap .side_content .li{
  display: flex;
  margin: 5px;
  background-color: #fff;
  box-shadow:0px 1px 3px rgba(0,0,0,.18);
}
.side_content .h1{
  font-size: 1.6rem
}
.contents_wrap .side_content .blog_img{
  background-color: #808080;
  width: 120px;
  min-width: 120px;
  height: 80px;
  background-size: cover;
  background-position: center;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
.contents_wrap .side_content .blog_title{
  /* width: 75%; */
  box-sizing: content-box;
  margin: 5px;
}
@media screen and (max-width:767px) {
  .contents_wrap .side_content{
    width: 95%;
    margin: 0 auto;
  }
  .side_content .h1{
    font-size: 1.2rem;
  }
}