.profile_flex{
  display: flex;
  justify-content: space-between;
  align-items:center;
  .img_wrapper{
    width: 130px;
    .circle{
      min-width: 130px;
      width: 100%;
      border-radius: 50%;
    }
  }
}
.blog_flex{
  display: flex;
  align-items: center;
}
@media screen and (max-width:767px) {
  .profile_flex{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    .img_wrapper{
      text-align: center;
      width: 100%;
      .circle{
        min-width: 180px;
        width: 30%;
        border-radius: 50%;
      }
    }
  }
}
.color_change{
  display: flex;
  justify-content:flex-end;
  padding-right: 15px;
  .bg_black{
    width: 20px;
    background: #000;
  }
  .bg_444257{
    width: 20px;
    background: rgb(44, 42, 57);
  }
}