.profile_flex{
  display: flex;
  justify-content: space-between;
  align-items:center;
  .img_wrapper{
    width: 130px;
    .circle{
      width: 100%;
      border-radius: 50%;
    }
  }
}
@media screen and (max-width:767px) {
  .profile_flex{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    .img_wrapper{
      text-align: center;
      width: 100%;
      .circle{
        width: 130px;
        border-radius: 50%;
      }
    }
  }
}
