.svg {
  position: relative;
  width: 150px;
  height: 150px;
}
.numwrap{
    position: relative;
    width: fit-content;
}

.svg .base,
.svg .line {
    fill: none;
    stroke-width: 10;
    stroke: #f3f3f3;
    stroke-dasharray: 440;
    stroke-dashoffset: 0;
    stroke-linecap: round;
}
.svg .line {
  stroke-dashoffset: calc(440 - (440 * 88) / 100);
  stroke: #03a9f4;
}
.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
}
.percent .number .title {
    font-size: 50px;
}
.percent .number .title span {
    font-size: 22px;
}
.text {
    padding: 10px 0 0;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.line {
    animation: circleAnim 1s forwards;
  }
  @keyframes circleAnim {
    0% {
      stroke-dasharray: 0 350;
    }
    99.9%,
    to {
      stroke-dasharray: 350 350;
    }
}